//
// benefits
// ----------------------------------------------------

.benefits {
    width: 100%;
    padding-top: 15rem;
    padding-bottom: 8rem;
    background-color: #f6f9fe;

    span {
        color: #2374e6;
    }

    h2 {
        color: #011f53;
        b { color: #2374e6; }
    }

    p {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #375281;
    }

    ul {
        display: grid;
        @media (max-width: 575px) {
            grid-template-columns: repeat(1, 1fr);
        }
        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        gap: 3.2rem;
        margin-top: 5rem;
    }

    h3 {
        margin: 1rem 0;
    }

    .card {
        height: 22rem;
        background-color: #fff;
        border: none;

        i {
            color: #2374e6;
        }

        h3 {
            color: #011f53;
        }

        p {
            color: #375281;
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;

        i {
            font-size: 2.4rem;
            color: #2374e6;
        }

        p {
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: #375281;
        }
    }

    .btn {
        color: #fff;
        background-color: #2374e6;
        border-color: #2374e6;
    }
}