//
// header
// ----------------------------------------------------

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 1rem 0;
    -webkit-transition: all 300ms ease .0s;
    transition: all 300ms ease .0s;

    .logo {
        -webkit-transition: all 300ms ease .0s;
        transition: all 300ms ease .0s;
    }

    &.fixed {
        background-color: #fff;
        box-shadow: 1px 1px 3px 1px #00000012;

        .logo {
            max-width: 100px;
            height: auto;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;

        &-item {
            display: inline-block;
            font-weight: 500;
            font-size: 1.4rem;
            color: #375281;
            transition: all 300ms ease .0s;

            &:hover,
            &.active {
                color: #2374e6;
            }
        }
    }

    .btn {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: #fff !important;
        background-color: #2374e6;
        border-color: #2374e6;

        &:hover {
            font-weight: 500;
            color: #fff !important;
            background-color: #2374e6;
        }

        i { 
            font-size: 2.2rem;
        }
    }
}