//
// testimonials
// ----------------------------------------------------

.testimonials {
    width: 100%;
    padding-top: 15rem;
    padding-bottom: 8rem;

    .heading {
        margin-bottom: 5rem;

        span {
            color: #2374e6;
        }
    
        h2 {
            color: #011f53;
            b { color: #2374e6; }
        }
    }

    .next,
    .prev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        font-size: 1.6rem;
        cursor: pointer;
        color: #fff;
        border-radius: 50%;
        background-color: #2374e6;
    }

    .btns {
        gap: 10px;
    }

    .swiper-pagination {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 4rem;
        
        &-bullet {
            background-color: rgba(255,255,255,.7);
        }
    }

    .card {
        background-color: #fff;
        border-color: #2374E70D;

        i {
            color: #2374e6;
        }

        &-info {
            color: #011f53;
        }

        &-body {
            color: #375281;
        }
    }
}