//
// typo
// ----------------------------------------------------

.sub-title {
    display: inline-block;
    margin-bottom: 1.2rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-transform: uppercase;
}

.title-1 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 5rem;

    @media (max-width: 576px) {
        font-size: 3rem;
        line-height: 4rem;
    }
}

.title-2 {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.2rem;

    @media (max-width: 576px) {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }
}

.paragraph {
    margin: 2.4rem 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}